 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p>Ron van Weverwijk is an experienced Big Data Engineer with a specialization in Neo4J. Ron is an expert in visualizing complex network data and an enthusiastic contributor to the Neo4J community. The last couple of projects Ron was involved in large-scale data projects for enterprise clients including FIOD, NPO, Dutch police and Rabobank.</p>
                </div>
                <div class="col-lg-4">
                    <p>Are you searching for an experienced backend developer with strong communication skills? Then he is your guy. He has a passion for quality and making hard things easy. With a brought IT knowledge he can help to define the best architecture for the project, help build a strong team with a focus on quality that can scale.</p>
                </div>
            </div>
        </div>
    </section>
